header {
    width: 100%;
    font-size: 1.2em;
    position: fixed;
    top: 0;
}

.site-nav {
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 40%;
    z-index: 999;
}

nav{
    background: #ffc300;
    height: 4em;
    min-width: 200px;
}

nav button {
    color: whitesmoke;
    border: none;
    text-decoration: none;
    padding: 1em 1.5em;
    cursor: pointer;

}

.site-nav button {
    text-align: center;
}

.site-nav button:first-child {
    background: #db2d43;
}

.site-nav button:nth-child(2) {
    background: #f69314;
}

.site-nav button:nth-child(3) {
    background: #a7d129;
}

.site-nav button:nth-child(4) {
    background: #1cb3c8;
}

.site-nav button:nth-child(5) {
    background: #930077;
}

nav button:hover, nav button:focus {
    outline: none;
}

.site-nav button:hover, .site-nav button:focus {
    color: #fafafa;
    background-color: black;
}

nav .icon {
    text-align: left;
    background: #ffc300;
    float: right;
    font-size: 1.2em;
}

header .logo {
    height: 3.8em;
    margin-top: .2em;
    margin-left: 2em;
}

@media screen and (orientation: landscape) {
    
    nav {
        height: 3.1em;
        text-align: center;
    }

    header .logo {
        height: 2.9em;
        padding: 0;
        margin-left: 0;
        margin-top: 0;
    }
    
    /* If mobile user switches to landscape view while
    hamburger is activated, counteract open class */
    .open {
        flex-direction: row;
        position: relative;
        width: 100%;
    }
    nav button {
        flex: 100%;
        padding: 1em .9em;
    }
    nav .icon {
        display: none;
    }
    .site-nav {
        min-width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        float: right;
        overflow: visible;
    }

}

@media screen and (min-width: 700px) {
    nav {
        height: 4.5em;
    }

    nav button {
        font-size: 1.1em;
        padding: 1.5em 1.3em;
    }

    header .logo {
        height: 4.3em;
        padding: 0;
        margin-top: .3em;
    }
}

@media screen and (min-width: 900px){
    nav {
        height: 4.5em;
    }
    
    nav button{    
        font-size: 1.15em;
        padding: 1.4em 2em;
    }

    header .logo {
        height: 4.3em;
        padding: 0;
        margin-top: .2em;
    }
    .fb-logo{
        width: 4%;
    }
}
